@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
ul[class],
ol[class] {
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
ul[class],
ol[class] {
    list-style: none;
}
:root {
    --color-light: #FFFFFF;
    --color-gray: #F9F8FE;
    --color-black: black;

    --border-radius: 7px;

    --font-family-base: 'Poppins', sans-serif;
    --font-family-title:'Montserrat', sans-serif;
    --font-family-accent:'Inter', sans-serif;
}
a,
li {
    text-decoration: none;
    list-style: none;
    color: black;
}

body{
    font-family: var(--font-family-base);
}

.header{
    width: 100%;
}
.section{
    margin: 0 80px;
}

.wrapper{
    padding: 81px 0
}

.button{
    border-radius: var(--border-radius);
    padding: 10px 26px;
    max-height: 40px;
    font-family: 'Inter';
    font-weight: 600;
    background-color: inherit;
}
.header__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 100000;
    background-color: white;
    width: 100%;
}
.navigation{
    margin-left: 39px;
}

.navigation__list{
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 16px;
    
}
.navigation__item{
    padding: 0 8px;
    margin: 25px 0;
}

.header__button{
    margin-right: 24px;
    background-color: var(--color-black);
    color: var(--color-light); 
    border: none;
}
.header__image__yoga{
    width: 100%;
}

.wrapper-white{
    background-color: var(--color-light);
}
.section-stay-tuned{
    display: flex;
    justify-content: space-between;
    
}
.section-stay-tuned__left{
    font-family: 'Montserrat';
    font-size: 53px;
}
.section-stay-tuned__right{
    padding: 0 54px;
}
.section-stay-tuned__right__paragraph{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
}
.section-stay-tuned__right__buttons{
    margin-top: 24px;
}

.button_explore{
    background-color: var(--color-black);
    color: var(--color-light);
        margin-right: 8px;
}

.wrapper-gray{
    background-color: var(--color-gray);
}

.section-revolutionize{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 28px 0;
}

.section__left{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.section-left__revolutionize{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
    padding: 20px 0;
    margin-bottom: 5px;
}

.section-left__title{
    margin-bottom: 26px;
    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 52px;
    max-width: 600px;
}

.section-left__paragraph{
    font-weight: 400;
    font-size: 18px;
    max-width: 599px;
}

.section-left__blocks{
    display: flex;
    margin: 54px 0;
}

.block-first,
.block-second{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
}

.block__title-first,
.block__title-second{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 23px;
}

.block__paragraph-first, 
.block__paragraph-second{
    font-weight: 400;
    font-size: 16px;
}
.block-buttons{
    display: flex;
}

.block-signUp{
    display: flex;
    align-items: center;
}

.block-signUp__button{
    padding-right: 10px;
    border: none;
}

.block-buttons__array{
    width: 24px;
    height: 24px;
    border: none;
    background: url(icons/Arrow.png) center;
    background-color: inherit;
}

.section__right{
    max-width:600px
}

.section__right_img{
    border-radius: var(--border-radius);
}




