@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter24pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
ul[class],
ol[class] {
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
ul[class],
ol[class] {
    list-style: none;
}
/* -------------------------------------------------ROOT---------------------------------------------- */
:root {
    --color-light: #FFFFFF;
    --color-gray: #F9F8FE;
    --color-black: black;
    --color-dark-gray: #676767;

    --border-radius: 7px;

    --font-family-base: 'Poppins', sans-serif;
    --font-family-title:'Montserrat', sans-serif;
    --font-family-accent:'Inter', sans-serif;
}
a,
li {
    text-decoration: none;
    list-style: none;
    color: black;
}

body{
    font-family: var(--font-family-base);
}

.header{
    width: 100%;
}
.section{
    margin: 0 80px;
}

.wrapper{
    padding: 81px 0
}

.button{
    border-radius: var(--border-radius);
    padding: 10px 26px;
    max-height: 40px;
    font-family: 'Inter';
    font-weight: 600;
    background-color: inherit;
}
.wrapper-white{
    background-color: var(--color-light);
}

/* -------------------------------------------------------HEADER__CONTAINER---------------------------------------------------------- */
.header__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 100000;
    background-color: white;
    width: 100%;
}
.navigation{
    margin-left: 39px;
}

.navigation__list{
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 16px;
    
}
.navigation__item{
    padding: 0 8px;
    margin: 25px 0;
}

.header__button{
    margin-right: 24px;
    background-color: var(--color-black);
    color: var(--color-light); 
    border: none;
}
.header__image__yoga{
    width: 100%;
}

/* ----------------------------------------------SECTION-STAY-TUNED-------------------------------------------------------------------- */
.section-stay-tuned{
    display: flex;
    justify-content: space-between;
    
}
.section-stay-tuned__left{
    font-family: 'Montserrat';
    font-size: 53px;
}
.section-stay-tuned__right{
    padding: 0 54px;
}
.section-stay-tuned__right__paragraph{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
}
.section-stay-tuned__right__buttons{
    margin-top: 24px;
}

.button_explore{
    background-color: var(--color-black);
    color: var(--color-light);
        margin-right: 8px;
}

.wrapper-gray{
    background-color: var(--color-gray);
}

/* ----------------------------------------------- SECTION-REVOLUTIONIZE----------------------------------------------------------*/

.section-revolutionize{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 28px 0;
}

.section__left{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.section-left__revolutionize{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
    padding: 20px 0;
    margin-bottom: 5px;
}

.section-left__title{
    margin-bottom: 26px;
    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 52px;
    max-width: 600px;
}

.section-left__paragraph{
    font-weight: 400;
    font-size: 18px;
    max-width: 599px;
}

.section-left__blocks{
    display: flex;
    margin: 54px 0;
}

.block-first,
.block-second{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
}

.block__title-first,
.block__title-second{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 23px;
}

.block__paragraph-first, 
.block__paragraph-second{
    font-weight: 400;
    font-size: 16px;
}
.block-buttons{
    display: flex;
}

.block-signUp{
    display: flex;
    align-items: center;
}

.block-signUp__button{
    padding-right: 10px;
    border: none;
}

.array{
    width: 24px;
    height: 24px;
    border: none;
    background: url(icons/Arrow.png) center;
    background-color: inherit;
}

.section__right{
    max-width:600px
}

.section-right__img{
    border-radius: var(--border-radius);
}

/* ---------------------------------------------- DISCOVER-FIRST------------------------------------------------------------------- */

.discover-first {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}
.discover__subtitle {
    font-weight: 500;
    font-size: 18px;
}
.discover__title {
    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 52px;
    margin: 23px 0;
    line-height: 65px;
}
.discover__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.discover__informaton-blocks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 82px;
    object-fit: cover;
    object-position: center;
}
.information__first-block {
    display: flex;
    flex-direction: column;
    margin-right: 47px;
    max-width: 395px;
}
.information__second-block {
    display: flex;
    flex-direction: column;
    margin-right: 48px;
    max-width: 395px;
}
.information__third-block {
    display: flex;
    flex-direction: column;
    max-width: 395px;
}
.block__img {
    border-radius: var(--border-radius);
    max-width: 395px;
    max-height: 222px;
    margin-bottom: 19px;
}
.block__title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
}
.block__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.discover-first__actions {
    margin-top: 80px;
    display: flex;
}
.join {
    display: flex;
    justify-content: center;
    padding: 9px 24px;
}
.learn-more{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn__learn-more {
    border: none;
    padding: 11px 16px;
    display: flex;
}

/* ----------------------------------------------DISCOVER-SECOND---------------------------------------------------- */

.discover-second {
    display: flex;
    flex-direction: row;
}
.discover-second__left {
    padding: 132px 0;
}
.discover-second__actions {
    margin-top: 50px;
    display: flex;
}
.discover-second__right {
    padding: 32px 0px;
}

/* ---------------------------------------------DISCOVER-THIRD-------------------------------------------------------------- */
.discover-third__title{
    margin-top: -11px;
    text-align: center;
}
.title-2{
    margin: -20px 0 2px 0;
}
.discover-third__block{
    margin-top: 84px;
}
.title{
    text-align: center;
}
.text{
    text-align: center;
}

/* --------------------------------------------DISCOVER-THE-IMPACT------------------------------------------------ */

.discover-the-impact {
    display: flex;
}
.discover-the-impact__left {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
}
.percent-blocks {
    display: flex;
    margin: 44px 25px 49px 0px;
}
.percent-blocks__first-block {
    margin: 0px 26px 0px 1px;
}
.fifty-percent {
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 11px;
}
.discover-the-impact__actions {
    display: flex;
}
.discover-the-impact__right {
    margin-top: 58px;
}

/* ---------------------------------------------- GET-UPDATES------------------------------------------------- */
.get-updates {
    text-align: center;
    margin: 41px 2px 2px 1px;
}
.get-updates__title {
    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 20px;
}
.get-updates__text {
    font-size: 18px;
}
.get-updates__input-block {
    margin: 48px 4px 13px -5px;
}
.input {
    font-family: var(--font-family-accent);
    font-size: 14px;
    font-weight: 400;
    color: var(--color-dark-gray);
    width: 374px;
    padding: 17px;
}
.button-submit{
    background-color: var(--color-black);
    color: var(--color-light);
}
.get-updates__agreement {
    font-size: 12px;
    color: var(--color-dark-gray);
}

/* ------------------------------------------------------Connect------------------------------------------------------------ */

.connect {
    display: flex;
}
.connect-left {
    margin-top: 35px;
}
.connect__word {
    font-weight: 500;
    font-size: 18px;
}
.connect__title {
    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 52px;
    margin: 20px 188px 19px 1px;
}
.connect__text {
    font-size: 18px;
}
.connect__blocks {
    margin: 54px -4px -5px 2px;
}
.connect__email {
}
.email-link{
    text-decoration: underline;
    margin-left: -2px;
}
.phone-link{
    margin-left: -2px;
}
.icon-title {
    font-weight: 700;
    font-size: 22px;
    margin: 16px 0 12px -2px;
}
.email-icon{
    width: 29px;
    height: 23px;
}
.phone-icon{
    width: 25px;
    height: 25px;
}
.address-icon{
    width: 30px;
    height: 31px;
}
.icon-text {
    margin: 0px 0px 10px -2px
}
.connect__phone {
    margin-top: 52px;
}
.connect__office {
    margin-top: 47px;
}
.connect-block{
    display: flex;
    flex-direction: column;
}
.office-action {
    font-size: 14px;
}
.btn-office {
    border: none;
}
.connect-right {
    margin-top: 300px;
}





